body {
    background-color: seagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    background-color: bisque;
    background-size: fill;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    font-size:larger;
}

a:link {
    text-decoration: none;
    color: bisque;
}

a:visited {
    color: 	#006400;
}

/*small screen styling*/
@media (min-width: 598px){
    header, body {
        text-align: center;
    }
    
    section {
        color: #006400;
        text-decoration:solid;
    }
    h1, h2, h3 {
        color: white;
    }
}

/*medium screen styling*/
@media (min-width: 768px){
    body { 
        background-color: blueviolet;
        color: whitesmoke;
    }
    section {
        background-color: black;
        color: whitesmoke;
    }
    a:link {
        color: whitesmoke;
    }
    a:visited {
        color: black;
    }
}

/*large screen styling*/
@media (min-width: 992px){
    body {
        background-color: #006400;
        color:bisque;
    }
    section {
        background-color: bisque;
        color:#006400;
    }
    h1, h2, h3 {
        color: black;
    }
}