body {
    background-color: seagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#roasting{
    border-radius: 10px;
    max-height: 75%;
    max-width: 50%;
    padding: 0%;
}

#history{
    text-align: center;
}

h2 {
    text-align: center;
    color: bisque
}

#beans {
    border-radius: 10px;
    max-width: 50%;
    max-height: 400px;
}

a:link {
    text-decoration: none;
    color: bisque;
}

a:visited {
    color: 	#006400;
}