body {
    background-color: seagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    font-size:larger;
}

a:link {
    text-decoration: none;
    color: bisque;
}

a:visited {
    color: 	#006400;
}

/*small screen styling*/
@media (min-width: 598px){
    header, body {
        text-align: center;
    }
    
    section {
        background-color: ;
    }
}

/*medium screen styling*/
@media (min-width: 768px){

}

/*large screen styling*/
@media (min-width: 992px){
    
}