body {
    background-color: seagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#roasting{
    border-radius: 10px;
    max-height: 75%;
    max-width: 50%;
    padding: 0%;
}

#history{
    text-align: center;
}

h2 {
    text-align: center;
    color: bisque
}

#beans {
    border-radius: 10px;
    max-width: 50%;
    max-height: 400px;
}

a:link {
    text-decoration: none;
    color: bisque;
}

a:visited {
    color: 	#006400;
}

/*small screen styling*/
@media (min-width: 598px){
    body {
        text-align:justify;
        color: bisque;
    }
    img {
        border-radius: 0px;
    }
}  

/*medium screen styling*/
@media (min-width: 768px){
    body {
        text-align: center;
        color: black;
        font-size: larger;
    }
}

/*large screen styling*/
@media (min-width: 992px){
    body {
        text-align: center;
    }
    
    h1, h2 {
        text-decoration: underline;
        color: bisque;
    }
}