
body {
    background-color: seagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#map {
    max-width: auto;
    border-radius: 10px;

}

#address {
    font-size: 14pt;
    font-style: italic;
}

#yellow {
    max-width: 300px;
    border-radius: 10px;
    padding: 0;
}

#however {
    font-size: 14pt;
    font-style: italic;
}

#punchline {
    font-style: normal;
    font-size: larger;
    color: gold;
}

/*small screen styling*/
@media (min-width: 598px){
    img {
        box-shadow: 10px 10px 5px gold;
    }
    #punchline {
        font-weight: bolder;
    }
    body {
        font-size: larger;
        text-align: center;
    }
}   

/*medium screen styling*/
@media (min-width: 768px){
    body {
        text-align: center;
    }
}

/*large screen styling*/
@media (min-width: 992px){
    img {
        box-shadow: none;
        border-radius: 10px;
    }
    body {
        text-align: left;
    }
    h1 {
        color: gold;
    }
    footer {
        text-align: right;
    }
}